:root {
    --corporate-color: #2196F3;
    --first-text: #212121;
    --second-text: #FFFFFF;
    --third-text: #757575;
    --background-header: #ECECEC;
    --background-tagline-and-footer: #2F303A;
    --background-team: #F5F4FA;
    --background-fff: #FFFFFF;
    --backgraund-portfolio-main: #E5E5E5;
    --web-header: #000000;
    --web-footer: #FFFFFF;
    --background-btn-portfolio: #F5F4FA;
    --background-icon: #F5F4FA;
    --color-icon: #AFB1B8;
}